.title {
  color: #01D5A2;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #020307;

}

.navList {
  display: flex;

  a {
    color: #ffff;
  }
}